lightning>=2.0.2
lightning_bolts>=0.6.0.post1
nibabel>=3.0.2
numpy>=1.22.4
opencv_contrib_python>=4.7.0.72
opencv_python>=4.7.0.72
opencv_python_headless>=4.7.0.72
pandas>=1.5.3
Requests>=2.31.0
scikit_learn>=1.2.2
torch>=2.0.0+cu118
torchmetrics>=0.11.4
torchvision>=0.15.1+cu118
optuna==2.10.0
matplotlib==3.7.1
tensorflow==2.12.2
tensorboard==2.12.2
imageio==2.25.1
plotly==5.13.1
setuptools==67.7.2
tqdm==4.65.0
git+https://github.com/MIC-DKFZ/HD-BET.git
git+https://github.com/agustinroviraquezada/MRI_T1_T2_CycleGAN.git
